h1 {
  text-align: center;
}

.log-out {
  display: flex;
  justify-content: flex-end;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.active {
  color: red;
}

.nav-item {
  cursor: pointer;
  margin: 0 1rem;
}