<!-- The content below is only a placeholder and can be replaced. -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div [style.display]='flex'>
      <span routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }" routerLink="/" class="nav-item nav-link">Home</span>
      <span routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }" routerLink="/users" class="nav-item nav-link">Users</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<h1 style="text-align:center">
  Welcome to {{ title }}!
</h1>

<div class="container">
  <router-outlet></router-outlet>
</div>



