
<form [formGroup]='updateUserForm' (ngSubmit)='updateUser()' class="create-form">
    <mat-form-field>
        <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>
  
    <mat-form-field>
        <mat-select formControlName="userType" placeholder="User Type">
            <mat-option value="super-admin">Super Admin</mat-option>
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="normal-user">Normal User</mat-option>
        </mat-select>
    </mat-form-field>

    <button type='submit' mat-raised-button color="primary">Update User</button>
</form>

<form [formGroup]='patchUserForm' (ngSubmit)='patchUser()' class="create-form">
    <mat-form-field>
        <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>

    <button type='submit' mat-raised-button color="primary">Update Name</button>
</form>